* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  font-family: var(--font-main);
}

.dashboard__header {
  padding: 3rem 6rem;
  height: auto;
}

.dashboard__header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #66fcf1;
}

.dashboard__line {
  height: 7px;
  width: 10%;
  background: var(--gradient-bar);
}
@media (max-width: 768px) {
  .dashboard__header {
    padding: 2rem 4rem;
  }
}

@media (max-width: 576px) {
  .dashboard__header {
    padding: 1rem 2rem;
    height: auto;
  }
}
