* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

.product__heading {
  padding: 2.5rem 0 0 6rem;
}
.product__heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #66fcf1;
}

.product__line {
  height: 7px;
  width: 10%;
  background: var(--gradient-bar);
}

.product_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  padding: 3rem 6rem;
}

.product_container .box {
  padding: 10px 20px;
}

.product_container .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 375px;
  background: #ffffff1c;
  border: 1px solid rgba(255, 255, 255, 0.534);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.product_container .box .content .img-box img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.product_container .box .content .details {
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.product_container .box .content .details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 7px;
}

.product_container .box .content .details .info p {
  margin-right: 5px;
}

.product_container .box .content .details button {
  margin-top: 12px;
  padding: 7px 25px;
  border: none;
  outline: none;
  background: #66fcf1;
  color: #000;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product_container .box .content .details button:hover {
  background: #066f9f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_container {
  background: var(--color-bg);
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  border: 1px solid rgba(255, 255, 255, 0.534);
}

.detail_container .close {
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.detail_container .detail_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_container .detail_content .detail_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_container .detail_content .detail_info .img-box {
  text-align: center;
}

.detail_container .detail_content .detail_info .product_detail {
  text-align: center;
}

.detail_container .detail_content .detail_info .product_detail button {
  margin-top: 15px;
  padding: 10px 30px;
  border: none;
  outline: none;
  background: #29feb1a1;
  color: #fff;
  cursor: pointer;
}

#bookNow {
  margin-left: 10px;
  background: #d14768;
}

@media (max-width: 768px) {
  .product_container {
    padding: 1rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .detail_container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .product__heading {
    padding: 2rem 0 0 2rem;
  }
  .product_container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 1rem 2rem;
  }

  .detail_container {
    width: 90%;
  }
}
